body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
}

.img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    filter: brightness(0) contrast(10);
}

.revealed {
    filter: none;
}

input {
    margin-top: 15px;
    padding: 8px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #ff4757;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #e84118;
}

.message {
    margin-top: 15px;
    font-weight: bold;
}